// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.icon{
  width: 280px;
  height: 280px;
}

.btn-outline-info {
  margin-left: 10px;
  margin-bottom: 10px;
}